auto {{ item.device }}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.address is defined %}
address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
netmask {{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
gateway {{ item.gateway }}
{% endif %}
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
iface {{ item.device }}  inet dhcp
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}
{% endif %}
{% endif %}

{% if item.bootproto == 'manual' %}
iface {{ item.device }}  inet manual
{% if item.ports is defined %}
bridge_ports {{ item.ports|join(' ') }}
{% endif %}
{% endif %}

{# Start Bridge Settings #}
bridge_stp {{ item.stp | default(bridge_stp) }}
bridge_waitport {{ item.waitport | default(bridge_waitport) }}
bridge_fd {{ item.fd | default(bridge_fd) }}
{# End Bridge Settings #}

{% if item.route is defined %}
{% for i in item.route %}
up route add -net {{ i.network }}  netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }}
down route add -net {{ i.network }}  netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}

{# Start Network Source Routing #}
{% if item.source_route is defined and item.bootproto == 'static' %}
# Network Source Routing:
# Add ip rule for each source route
# Add iproute2 rules:
{% for rt in item.source_route %}
{% if rt.source_dev_ips is defined %}
{% for source_dev_ip in rt.source_dev_ips %}
up  ip  rule add from {{ source_dev_ip }} table {{ rt.name }}
down ip rule del from {{ source_dev_ip }} table {{ rt.name }}
{% endfor %}
{% endif %}
{% endfor %}

# Add iproute2 routes:
{% for rt in item.source_route %}
post-up ip  route add default via {{ rt.source_gw }} dev {{ item.device }} table {{ rt.name }}
post-up ip  route add {{ rt.network }}/{{ rt.netmask }} dev {{ item.device }} table {{ rt.name }}

pre-down ip route del default via {{ rt.source_gw }} dev {{ item.device }} table {{ rt.name }}
pre-down ip route del {{ rt.network }}/{{ rt.netmask }} dev {{ item.device }} table {{ rt.name }}
{% endfor %}

{% endif %}
{# End Network Source Routing #}
